#signup_div{
    width: 40%;
    margin: 10vh 0 0 20vw;
}
#signup_div img{
    margin-left: 10vw;
    margin-top:200px;
    height: 30vh;
}

#signup_form, #login_form{
    padding: 2em;
    background-color: #fff !important;
    margin-bottom: 5em !important;
}

#pro-img{
    padding: 10%;
}
#login{
    width:40%;
    height: 600px !important;
    margin-top:10vh !important;
    margin-left: 15vw !important    ;
    padding: 2em !important;
}
#login_form{
    width: 100%;
    margin-left: 0 !important;
    margin-top: 5vh !important;
}

@media only screen and (max-width:700px){
    #signup_div{
        width: 100%;
        margin-top: 10vh;
        margin-left: -3vw !important;
        height: 50vh;
       
    }
    #signup_div h1, #login h1{
        font-size: 22px !important;
        text-align: center;
        color: steelblue;
    }
    #signup_form{
        border-radius: 2%;
    }
    #signup_form, #login_form{
        padding: 1em;
        background-color: #fff !important;
        margin-bottom: 5em !important;
    }
    
    #pro-img{
        padding: 10%;
    }
    #login{
        width:95%;
        height: 450px !important;
        margin-top:15vh !important;
        margin-left: 2vw !important;
        padding: 1em !important;
        border-radius: 2%;
    }
    #login_form{
        width: 100%;
        margin-left: 0 !important;
        margin-top: 3vh !important;
    }
    #login p {
        font-size: 12px;
    }
}