.user-check26{
    color: red !important
}

.user-txt{
    margin-left: 5vw;
    margin-top: 5vh;
}
.user-txt h3{
    font-family: 'Abel', sans-serif;

}
.user-txt h4{
    font-family: 'PT Sans Narrow', sans-serif !important;
}