
<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static '/static/scul/img/Net - Copy.png' %}">

    <link rel="stylesheet" href="{%  static '/static/scul/css/css/bootstrap.css' %}">
    
    <link rel="stylesheet" href="{% static 'scul/student/student_list.css' %}">
    <link rel="stylesheet" href="{% static 'scul/css/guest.css' %}">
    <link rel="stylesheet" href="{% static 'scul/css/profiles.css' %}">
    <link rel="stylesheet" href="{% static 'scul/css/accounts.css' %}">
    <link rel="stylesheet" href="{% static 'scul/css/books.css' %}">
    <link rel="stylesheet" href="{% static 'scul/css/books.css' %}">
    <link rel="stylesheet" href="{% static 'scul/css/courses.css' %}">
    <link rel="stylesheet" href="{% static 'scul/css/video.css' %}">
    <link rel="stylesheet" href="{% static 'scul/css/posts.css' %}">
    <link rel="stylesheet" href="{% static 'scul/css/student.css' %}">
    <link rel="stylesheet" href="{% static 'scul/css/users.css' %}">
    <link rel="stylesheet" href="../../static/nav.css">
    <link rel="stylesheet" href="{% static 'scul/css/videoReact.css' %}">
    
    <title>App</title>
</head>
<body>

    <div id="root"></div>

    <script src="{% static '/static/scul/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static '/static/scul/js/js/bootstrap.js' %}"></script>
    <script src="{% static 'frontend/main.js' %}"></script>
</body>
</html>

