{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="/static/scul/img/files/lambda.png" type="image/x-icon">

    <link rel="stylesheet" href="{% static 'scul/css/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'scul/css/index.css' %}">
    <link rel="stylesheet" href="{% static 'scul/student/student_list.css' %}">
    <link rel="stylesheet" href="{% static 'scul/css/guest.css' %}">
    <link rel="stylesheet" href="{% static 'scul/css/profiles.css' %}">
    <link rel="stylesheet" href="{% static 'scul/css/accounts.css' %}">
    <link rel="stylesheet" href="{% static 'scul/css/books.css' %}">
    <link rel="stylesheet" href="{% static 'scul/css/books.css' %}">
    <link rel="stylesheet" href="{% static 'scul/css/courses.css' %}">
    <link rel="stylesheet" href="{% static 'scul/css/video.css' %}">
    <link rel="stylesheet" href="{% static 'scul/css/posts.css' %}">
    <link rel="stylesheet" href="{% static 'scul/css/student.css' %}">
    <link rel="stylesheet" href="{% static 'scul/css/users.css' %}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
    <link href="https://fonts.googleapis.com/css?family=Cute+Font&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css">
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet"
        type='text/css'>

    <link href="https://fonts.googleapis.com/css?family=Finger+Paint&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Itim&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Concert+One&display=swap" rel="stylesheet">

    <title>Lambda</title>
</head>

<body>
    <nav class="nav navbar-default">
        {% if user.is_authenticated %}
        <div id="accounts">
        <div class="d-flex account">
            <img src="{{request.user.profile.image.url}}" alt="" height="40px" width="40px">
            <h5>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle " data-toggle="dropdown" href="#" role="button"
                        aria-haspopup="true" aria-expanded="false"
                        style="font-size: 20px; color:white !important">{{request.user.username}}</a>
                    <div class="dropdown-menu text-white " style="background: rgba(31, 40, 71);">
                        <a class="dropdown-item text-light" href="/accounts/profile">Profile</a>
                        <a class="dropdown-item text-light" href="/accounts/logout">Logout</a>
                    </div>
                </li>
            </h5>
          </div>
        </div>

        <div class="d-flex align-items-baseline icons">
            <div class=" d-flex " id="icons" >
              

                <li class="dropdown"><a href="#" class="nav-link d-flex align-items-baseline" data-toggle="dropdown"
                        role="button" aria-haspopup="true" aria-expanded="false"><i class=" fas fa-bell"></i>
                        <span>3</span></a>
                    <div class="dropdown-menu text-white  p-2 noti" style="background: rgba(31, 40, 71);">
                        <div class="d-flex">
                            <img src="/static/scul/img/Net.png" alt="">
                            <div class="noti-txt  pl-2">
                                <h3>You have got 5 points from Lambda</h3>
                                <p>chec out my new course now it is...</p>
                                <p><small>5 minuts ago</small></p>
                            </div>
                        </div>
                        <hr class="bg-light">
                        <div class="d-flex ">
                            <img src="/static/scul/img/files/algroithm.jpg" alt="">
                            <div class="noti-txt pl-2">
                                <h3>Python for beginers was updated</h3>
                                <p> <small>4 hours ago</small></p>
                            </div>
                        </div>

                        <hr class="bg-light">
                        <div class="">
                            <h3>Your free trial period is over. Please renew to continue using Lambda</h3>
                            <p><small>5 minuts ago</small></p>
                        </div>
                        <hr class="bg-light">
                        <div class="d-flex">
                            <img src="/static/scul/img/s.jpg" alt="">
                            <div class="noti-txt pl-2">
                                <h3>You have got 5 points. Continue
                                    learning
                                </h3>
                                <p>chec out my new course now it is...</p>
                                <p><small>5 minuts ago</small></p>
                            </div>
                        </div>
                        <hr class="bg-light">
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a href="#" class="nav-link d-flex align-items-baseline" data-toggle="dropdown" role="button"
                        aria-haspopup="true" aria-expanded="false"><i class=" fas fa-envelope"></i>
                        <span>5</span></a>
                    <div class="dropdown-menu text-light p-3 noti" id="msg" style="background: rgba(31, 40, 71);">
                        <h3 class="font-weight-bold text-white">New message from your school</h3>
                        <p>Pay your second installment. End date...</p>
                        <hr class="bg-light">
                        <h3>@willy sent you a message</h3>
                        <hr class="bg-light">
                        <h3>5 new messages from your supervisor</h3>
                        <hr class="bg-light">
                        <h3 class="font-weight-bold text-white">You recieved a voice message from @landry</h3>
                        <hr class="bg-light">
                        <h3>New message from Technical moon</h3>
                        <p>Hello how are you doing today??</p>
                    </div>
                </li> 
{% comment %} 
                  <li class="nav-item d-flex align-items-baseline dropdown" style="display:none" id="posst"><i class="fas fa-newspaper"></i><a href="/posts"
                        class="nav-link"><span>5</span></a></li>
                        <li class="nav-item d-flex align-items-baseline dropdown" style="display:none" id="posst"><i class="fas fa-video"></i></i><a href="/posts"
                        class="nav-link"><span>5</span></a></li>
                        <li class="nav-item d-flex align-items-baseline dropdown" style="display:none" id="posst"><i class="fas fa-book"></i><a href="/posts"
                        class="nav-link"><span>20+</span></a></li> {% endcomment %}
            </div>
            {% else %}
            <div class="userr">
            <ul class="d-flex mr-5 user-check" id="user-check">
                <li>
                    <a href="/accounts/login" class="btn btn-sm btn-outline-primary">LOGIN</a>
                </li>
                <li><a href="/accounts/signup" class="btn btn-outline-success btn-sm">
                        REGISTER
                    </a></li>
            </ul>
            </div>
            {% endif %}
            <div class="navv-links">
            <div class="nav-linK d-flex ml-5" id="nav-linK">
                <li class="nav-item d-flex align-items-baseline "><i class="fas fa-newspaper"></i><a href="/posts"
                        class="nav-link text-primary">NEWS</a></li>
                <li class="nav-item d-flex align-items-baseline" id="material"> <i class="far fa-folder"></i><a href=""
                        class="nav-link text-white">MATERIALS</a>

                    <ul>
                        <li class="nav-item d-flex align-items-baseline"> <i class="fas fa-book-open"></i><a
                                href="/books" class="nav-link text-white">BOOKS</a></li>

                        <li class="nav-item d-flex align-items-baseline"><i class="fab fa-youtube"></i><a
                                href="/videos/list" class="nav-link text-white">VIDEOS</a></li>

                        <li class="nav-item d-flex align-items-baseline"><i class="fas fa-landmark"></i><a
                                href="/courses" class="nav-link text-white">COURSES</a></li>
                    </ul>

                </li>
                <li class="nav-item d-flex align-items-baseline" id="material1"> <i
                        class=" fas fa-graduation-cap"></i><a href="" class="nav-link text-white">ACAD</a>

                    <ul>
                        <li class="nav-item d-flex align-items-baseline"> <a href="/schools"
                                class="nav-link text-white">SCHOOLS</a></li>

                        <li class="nav-item d-flex align-items-baseline"><a href="#"
                                class="nav-link text-white">CONCOURS</a></li>

                        <li class="nav-item d-flex align-items-baseline"><a href="#"
                                class="nav-link text-white">INTERNSHIPS</a></li>

                    </ul>

                </li>


                <li class="nav-item d-flex align-items-baseline"><i class="fas fa-comments"></i><a href="/forum"
                        class="nav-link text-white">Forum</a></li>

            </div>
</div>

            <div class="input ml-2 ">
                <form action="" method="GET">
                    <input class="text-white" type="text" placeholder="Search something..." name="q">
                    <button class="btn-outline-primary " type="submit"><i class="fas fa-search"></i></button>
                </form>
            </div>

            <div class="logo ml-5">
                <h4>LAMbDA</h4>
            </div>
        </div>

    </nav>

        
    {% block content %}

    <div class="guest">


        <h1>welcome to lambda {{request.user.username}}</h1>
    </div>

    {% endblock content %}

    <script id="dsq-count-scr" src="//lambda-3.disqus.com/count.js" async></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstr`ap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://widget.northeurope.cloudapp.azure.com:9443/v0.1.0/mobile-money-widget-mtn.js"></script>
    <script src="{% static 'scul/js/js/bootstrap.js' %}"></script>
    <script src="{% static 'scul/js/index.js' %}"></script>
    <script src="{% static 'scul/js/accounts.js' %}"></script>
    <script src="{% static 'scul/js/course.js' %}"></script>
    <!-- django modal form -->
    <script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>

    <script src="{% static 'js/jquery.bootstrap.modal.forms.min.js' %}"></script>

</body>

</html>